#sky_background {
	width:100%;
    height:250px;
    display:inline-block; 
}
.definition_box {
	position:absolute;
    top:20%;
    left:10%;
    background-color:#73C5B6;
	width:80%;
	border: 10px solid #FFF;
	height:150px;
}
/* CONTACT US FORM */
.form_red_background {
    background-color:#dc403b;
    height:450px;
}
.form_box {
	background-color:#FFF;
	text-align:left;
	width:95%; 
	margin-left:auto;
    margin-right:auto;
	height:400px;
	webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
	moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
	box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
    border:10px solid #007AA3;
}
.form_text {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:16px;
	line-height:26px;
	font-weight:lighter;
    margin-left:15%;
}
.form_margin {
    margin-top:40px;
}
label {
	display:inline-block;
	padding:3px 6px;
	text-align:right;
    width:200px;
}
#your_name {
    width: 300px;
}
#email_address {
    width: 300px;
    margin-top:10px;
}
#subject {
    width: 300px;
    margin-top:10px;
}
#your_message{
    margin-top:10px;
	width:300px;
	height:150px;
    vertical-align:top;
}
#your_message label {
    margin-top:10px;
}
#your_message textarea {
    resize: none;
}
#button_position {
		margin-left:205px;
        margin-top:10px;
}
#errors li {
    padding:2px;
    list-style:none;    
}
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}*/
/* AFFILIATIONS BOXES */
.affiliations_red_background{
    background-color:#dc403b;
    height:375px;
}
.subtitle_background {
    background-color:#dc403b;
    height:40px;
}
.subtitle_text {
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.25em;
	line-height:40px;
	font-weight:bolder;
    margin-left:3%;
    padding-bottom:15px;
}
.col-lg-4 {
    width: 33.3%;
    float: left;
  }
.boxes {
	margin-right:auto;
    margin-left:auto;
    margin-top:25px;
	height : 270px;
    width:90%;
	background-color : #FFF;
    webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
	moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
    box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
}
.affiliations_subtitle{
	color: #007AA3;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.0em;
	line-height:32px;
	font-weight:bolder;
	text-align:center;
	padding-top:10px;
    text-transform:uppercase;
	}
.affiliations_person{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9em;
	line-height:1.1em;
	font-weight:bold; 
	text-align:left;
	margin-left:25px;
	}
.affiliations_data{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9em;
	line-height:1.1em;
	font-weight:lighter; 
	text-align:left;
	margin-left:25px;
	}
    
/* THANK YOU MESSAGE */
.thank_red_background {
    background-color:#dc403b;
    height:vh;
    padding-top:40px; 
    padding-left:28%;
}

.col-lg-6 {
    width: 50%;
  }
.thank_box {
	background-color:#FFF;
	text-align:center;
	width:95%; 
	margin-left:auto;
    margin-right:auto;
	height:250px;
	webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
	moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
	box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
    border:10px solid #007AA3;
}
.thank_word{
	color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
    text-transform:uppercase;
	font-size:1.4em;
	line-height:40px;
	font-weight:bolder;
    margin-top:15px;
    text-align:center;
}	
.thank_text {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:1em;
    line-height:22px;
	font-weight:lighter;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
}
/* MEDIA QUERIES */
/* VERY SMALL MOBILE */
@media (max-width : 622px) {
    .definition_box {
        height:175px;
    }
    .form_box {
        height:435px;
    }
    .form_red_background {
        height:435px;
    }
    .form_text {
        font-size:12px;
        line-height:18px;
    }
    label {
        display:inline-block;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        text-align:left;
        width:200px;
    }
    #your_name {
        margin-bottom:10px;
    }
    #email_address {
        margin-top:0px;
        margin-bottom:10px;
    }
    #subject {
        margin-top:0px;
        margin-bottom:10px;
    }
    #your_message{
        margin-top:0px;
        margin-bottom:10px;
    }
    #button_position {
		margin-left:0px;
        margin-top:10px;
    }
    .col-small-12 {
        width: 100%;
        float: left;
    }
    .col-lg-4 {
        display:none;
    }
    .affiliations_red_background{
        display:none;
    }
    .m_affiliations_red_background{
        background-color:#dc403b;
        height:975px;
    }  
}

/* MOBILE */
@media (min-width : 623px) and (max-width : 767px) {
    .definition_box {
        height:175px;
    }
    .form_box {
        height:435px;
    }
    .form_red_background {
        height:435px;
    }
    .form_text {
        font-size:12px;
        line-height:18px;
    }
    label {
        display:inline-block;
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        text-align:left;
        width:200px;
    }
    #your_name {
        margin-bottom:10px;
    }
    #email_address {
        margin-top:0px;
        margin-bottom:10px;
    }
    #subject {
        margin-top:0px;
        margin-bottom:10px;
    }
    #your_message{
        margin-top:0px;
        margin-bottom:10px;
    }
    #button_position {
		margin-left:0px;
        margin-top:10px;
    }
    .col-small-12 {
        width: 100%;
        float: left;
    }
    .col-lg-4 {
        display:none;
    }
    .affiliations_red_background{
        display:none;
    }
    .m_affiliations_red_background{
        background-color:#dc403b;
        height:975px;
    }  
}

/* TABLET */
@media (min-width : 768px) and (max-width : 1199px) {
    .col-small-12 {
        display:none:
    }
    .affiliations_red_background{
        height:375px;
    }
    .m_affiliations_red_background{
        display:none;
    }  
}

/* DESKTOP */
@media (min-width : 1200px) {
    .col-small-12 {
        display:none:
    }
    .m_affiliations_red_background{
        display:none;
    }  
}