
*   {
	box-sizing : border-box;
    }
body{ 
    /*background:#fcfbf3;*/
    /*background:#dc403b; red */
    /*background-color:#687371; gray*/
    background-color:#dc403b;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
}
p {
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:lighter;
	margin-left:15px;
	margin-right:15px;
	line-height:22px;
	text-align:justify;
}
.italics {
    font-style:italic;
	font-weight:lighter;
	font-size:1em;
}
.bold_italics {
	font-style:italic;
	font-weight:bold;
}
.white_text {
    color:#ffffff;
}
.black_text {
    color:#000000;
}
#main {
    width: 100%;
    }
    
/* HEADER */
#banner { 
    background-color:#FFF; 
    }
#logo {
	color:#dc403b;
	font-weight:bolder;
    display:inline-block;
    /*height:110px;*/
    height:120px;
    width : 100%;
    }
#T {
    font-size:1.5em;
    /*color:#eb4839; red*/
}
#four {
    font-size:2em;
    color:#FAC84C; /*yellow*/
}
#life{
    font-family: 'Alex Brush', cursive;
    font-size:2.5em;
    /*color:#3cad53; *//*green*/
    color:#429fca; /*blue*/
    }
#link_color {
	 color:#dc403b;
     text-decoration:none;
    }

/* NAVIGATION */ 
nav {
	list-style:none;
	padding: 0px;
	clear:both;
	background-color: #FFF;
	height: 40px;
    }
nav span {
    display:inline-block;
    float:left;
	width : 14%;
	line-height:20px;
	font-size:1em;
	/*font-weight:bold;*/
    text-align:center;
    /*margin-left:15px;  */
    }
#nav_indent {
    /*margin-left:5%;*/
}
hr {
    /*border: 1px solid #b1d5cf;
    width:100%;*/
    
    /*border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);*/
    
    /*border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
    
    border: 0;
    height: 1px;
    background: #b1d5cf;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* GLOBAL LINKS */
a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
    }
a:link {
	/*color:#85c4b9; turquoise*/
    /* contrast at least 3:1 #44A291 */
    /* contrast at least 4.5:1 #368175 */
    /*original color:#73C5B6;*/
    color:#489988;
    }
a:visited {
	/*color:#85c4b9; turquoise*/
    color:#489988;
    }
a:hover {
    /* contrast at least 4.5:1 #DB3933*/
    /*color:#df514c;*/
	color:#DB3933;/*red*/
    }
a:active {
	color:#DB3933;/*red*/
    }
p a:link {
	color:#DB3933;/*red*/
}
p a:visited {
	color:#DB3933;/*red*/
}
p a:hover {
	color:#008bba;/*blue*/                          
}
p a:active {
	color:#008bba;/*blue*/                     
}
.clearfloat {
		clear:both;
	}
/*FOOTER*/
.footer_background {
        /* contrast #59756F #687371*/
		/*original background-color:#73C5B6;*/
        background-color:#687371;
        height:110px;
		margin:0px;
	}
.footer_ext {
        background-color:#687371;
		margin:0px;
    }
.credits_text {
		text-align:left;
		color:#FFF;
		line-height:20px;
		font-size:11px;
	}
.copyright_text {
		text-align:center;
		color:#FFF;
		line-height:20px;
		font-size:11px;
	}
    
/* COLUMN WIDTH DEFINITIONS */
.col-lg-1 {
    width: 8.33%;
    float: left;
    /*border: 1px solid red;*/
  }
.col-lg-2 {
    width: 16.66%;
    float: left;
    /*border: 1px solid red;*/
  }
.col-lg-3 {
    width: 25%;
    float: left;
    /*border: 1px solid green;*/
  }
.col-lg-4 {
    width: 33.3%;
    float: left;
    /*border: 1px solid green;*/
  }
.col-lg-5 {
    width: 41.65%;
    float: left;
    /*border: 1px solid green;*/
  }
.col-lg-6 {
    width: 50%;
    float: left;
    /*border: 1px solid blue;*/
  }
.col-lg-7 {
    width: 58.33%;
    float: left;
    /*border: 1px solid yellow;*/
  }
.col-lg-8 {
    width: 66.66%;
    float: left;
    /*border: 1px solid yellow;*/
  }
.col-lg-9 {
    width: 74.99%;
    float: left;
    /*border: 1px solid red;*/
  }
.col-lg-10 {
    width: 83.33%;
    float: left;
    /*border: 1px solid red;*/
}
.col-lg-11 {
    width: 91.66%;
    /*float: left;
    margin-right:auto;
    margin-left:auto;
    margin-top:7px;*/
   /*border: 1px solid red;*/
}
.col-lg-12 {
    width: 100%;
    float: left;
    /*border: 1px solid red;*/
}

/* SHARED IDs AND CLASSes */
.row {
  width: 100%;
}
.red_background {
    background-color: #dc403b;
}


/* BOX ON TOP OF CLOUDS */
#relative_box {
    position:relative;
}
.definition_word{
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
    text-transform:uppercase;
	font-size:1.4em;
	line-height:40px;
	font-weight:bolder;
    margin-top:15px;
    text-align:center;
}	
.definition_text {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:1em;
    line-height:22px;
	font-weight:lighter;
    padding-left:15px;
    padding-right:15px;
    text-align:left;
}

/* MEDIA QUERIES STAY AT THE END */
/*Desktop 992px and above. 
Tablet between 768px and 991px, inclusively. 
Mobile between 623px and 767px.
very small Mobile is between 320px and 622px
the smallest screen size to design for is 320px*/

/* VERY SMALL MOBILE */
@media (max-width : 622px) {
    #logo {
        font-size:1.75em;
        margin-left:15px;
        margin-top:15px;
        line-height:50px;
        height:60px;
    }
    nav {
	    height: 250px;
    }
    nav span {
        display:none;
    }
    .mobile_menu {
        line-height:20px;
        font-size:1em;
        font-weight:bold;
        text-align:center;
        list-style:none;
    }
    .footer_background_home {
		height:190px;
	}
    .footer_background_at {
		height:80px;
	}
    .footer_background {
		height:80px;
	}
    #footer_home_ext {
        /*height:223px;*/
        height:vh;
    }

    /* ASSISTIVE TECHNOLOGY PAGE */
    .definition_word{
        font-size:1 em;
        line-height:36px;
    }	
    .definition_text {
        display:none;
	}
    
    /* SELF ADVOCACY Page */
    .definition_word{
        font-size:1 em;
        line-height:36px;
    }	
    .definition_text {
        display:none;
    }
}

/* MOBILE */
@media (min-width : 623px) and (max-width : 767px) {
    #logo {
        font-size:2em;
        margin-left:15px;
        line-height:90px;
        height:85px;
    }
    nav {
	    height: 250px;
    }
    nav span {
        display:none;
    }
    .mobile_menu {
        line-height:20px;
        font-size:1em;
        font-weight:bold;
        text-align:center;
        list-style:none;
    }
    .footer_background_home {
		height:175px;
	} 
    .footer_background_at {
		height:90px;
	}
    
    /* ASSISTIVE TECHNOLOGY PAGE */  
    .definition_word{
        font-size:1.2em;
        line-height:35px;
    }	
    .definition_text {
        font-size:.9em;
        line-height:24px;
	}
    
    /* SELF ADVOCACY Page */
    .definition_word{
        font-size:1.5em;
        line-height:40px;
    }	
    .definition_text {
        font-size:1.1em;
        line-height:22px;
    }
}

/* TABLET */
@media (min-width : 768px) and (max-width : 1199px) {
    #logo {
        font-size:2.0em;
        margin-left:15px;
        line-height:85px;
    }
    nav {
	    height: 40px;
        background-color:blue;
    }
    .nav_letter_desktop {
        display:none;
    }
    .nav_letter_tablet {
        text-align:center;
    }
    .mobile_menu {
        display:none;
    }
    .footer_background_home {
		height:140px;
	}
    .footer_background_at {
		height:90px;
	}
} 

/* DESKTOP */
@media (min-width : 1200px) {
    #logo {
        font-size:2.25em;
        margin-left:24px;
        line-height:100px;
    }
    nav {
	    height: 40px;
        background-color:orange;
    }
    .nav_letter_tablet {
        display:none;
    }
    .footer_background_home {
		height:100px;
    }
	.mobile_menu {
        display:none;
    }
}


