
*   {
	box-sizing : border-box;
    }
body{ 
    /*background:#fcfbf3;*/
    background:#dc403b;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
#main {
    width: 100%;
    }
    
/* HEADER */
#banner { 
    background-color:#FFF; 
    }
#logo {
	color:#dc403b;
	font-weight:bolder;
    display:inline-block;
    height:110px;
    }
#T {
    font-size:1.5em;
    /*color:#eb4839; red*/
}
#four {
    font-size:2em;
    color:#FAC84C; /*yellow*/
}
#life{
    font-family: 'Alex Brush', cursive;
    font-size:2.5em;
    /*color:#3cad53; *//*green*/
    color:#429fca; /*blue*/
    }
#link_color {
	 color:#dc403b;
    }

/* NAVIGATION */ 
nav {
	list-style:none;
	padding: 0px;
	clear:both;
	background-color: #FFF;
	height: 40px;
    }
nav span {
    display:inline-block;
    float:left;
	width : 14%;
	line-height:20px;
	font-size:16px;
	font-weight:bold;
    text-align:left;
    margin-left:15px;    
    }
/* global links */
a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
    }
a:link {
	color:#85c4b9; /*turquoise*/
    color:#73C5B6;
    }
a:visited {
	/*color:#85c4b9; turquoise*/
    color:#73C5B6;
    }
a:hover {
	color:#df514c;/*red*/
    }
a:active {
	color:#df514c;/*red*/
    }
p a:link {
	color:#df514c;/*red*/
}
p a:visited {
	color:#df514c;/*red*/
}
p a:hover {
	color:#008bba;/*blue*/                          
}
p a:active {
	color:#008bba;/*blue*/                     
}

/*FOOTER*/
.footer_background {
		background-color:#73C5B6;
		height:100px;
		margin:0px;
	}
.credits_text {
		text-align:left;
		color:#FFF;
		line-height:20px;
		font-size:11px;
	}
.copyright_text {
		text-align:center;
		color:#FFF;
		line-height:20px;
		font-size:11px;
	}

/*HOME PAGE*/ 
#logo {
        width : 100%;
}
.row {
  width: 100%;
}
.blue_background {
	background-color:#73C5B6; 
}
.red_background {
        background-color: #dc403b;
	}
#overview_text {
    padding-top: 4%;
    padding-bottom: 6%;
    margin-left: 5%;
    display:inline-block;
    text-align:center;
    color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
    }
.text_1{
    font-weight:bolder;
	}
.text_2{
    font-weight:lighter;
	}
.text_3{
    font-weight:lighter;
	}
#text_italics_light{
    font-style:italic;
	font-weight:lighter;
	}
.assistive_technology {
    display : inline-block;
    background-color:#FFF;
    text-align:center;
    font-weight:bolder;
    }
.self_advocacy {
    background-color:#FFF;
    text-align:center;
    font-weight:bolder;
}
.fctd_guide {
    background-color:#FAC84C;
    font-weight:bolder;
    text-align:center;
}
#fctd_logo_tablet {
    margin-right: auto;
    border : 3px solid #FFF;
	}

    
/* ASSISTIVE TECHNOLOGY PAGE */
#sky_background {
	width:100%;
    height:250px;
    display:inline-block; 
	}
#relative_box {
    position:relative;
}
.definition_box {
	position:absolute;
    top:20%;
    left:10%;
    background-color:#73C5B6;
	width:80%;
	border: 10px solid #FFF;
	height:150px;
}
.definition_word{
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
    text-transform:uppercase;
	font-size:1.4em;
	line-height:40px;
	font-weight:bolder;
    margin-top:15px;
	margin-left:auto;
    margin-right:auto;
    text-align:center;
}	
.definition_text {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:1em;
	line-height:26px;
	font-weight:lighter;
	margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
    text-align:left;
	}
.col-lg-4 {
    width: 33.33%;
    float: left;
    /*border: 1px solid green;*/
  }
.boxes {
	margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    margin-top:25px;
	height : 310px;
    width:90%;
	background-color : #FFF;
    webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
	moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
    box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
}
.at_red_background {
    background-color: #dc403b;
    height: 965px;
}
.at_box_title {
    font-family:Georgia, "Times New Roman", Times, serif;
    text-align:center;
	font-size:1.1em;
	font-weight:bolder;
	line-height:38px;
    text-transform:uppercase;
    color:#007AA3;
}
.at_images {
    align:center;
    /*border: 3px solid black;*/
}   
/* MEDIA QUERIES STAY AT THE END */
/*Desktop 992px and above. 
Tablet between 768px and 991px, inclusively. 
Mobile equal to or less than 767px.
very small Mobile is less than 622px
the smallest screen size to design for is 320px*/

/* MOBILE - very small */
/* add Hamburger Menu */
@media (max-width : 622px) {
    #logo {
        font-size:1.75em;
        margin-left:15px;
        margin-top:15px;
        line-height:50px;
        height:50px;
    }
    nav span {
        display:none;
    }
    #overview_section{
        text-align:center;
        height: 150px;
    }
    #jumping_kids_desktop{
        display:none;
    }
    #jumping_kids_tablet {
        display:none;
    }
    .text_1{
        font-size:1em;
	}
    .text_2{
        font-size:.9em
	}
    .text_3{
        font-size:1em;
	}
    #text_italics_light{
		font-size:1em;
	}
    .red_background {
        height : 565px;
	}
    .assistive_technology {
        margin-left:20%;
        margin-top:5%;
        font-size:.9em;
        line-height:20px;
        height:147px;
        width:60%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    #word_cloud_tablet {
        display:80%;
    }
    #word_cloud_desktop {
        display:none;
    }
    .self_advocacy {
        display : block;
        margin-left:20%;
        margin-top:5%;
        font-size:.9em;
        line-height:20px;
        height:147px;
        width:60%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    .image_padding {
        padding-top : 10px;
        padding-bottom : 15px;
    }
    #raising_hands_tablet{
        width:50%;
    }
    #raising_hands_desktop{
        display:none;
    }
    .fctd_guide {
        display : block;
        margin-left:20%;
        margin-top:5%;
        padding-top:5%;
        font-size:.9em;
        line-height:20px;
        height:147px;
        width:60%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    #fctd_logo_tablet {
		display: block;
        float : left;
        margin-left:20px;
        margin-top:10px;
        margin-bottom:10px;
        width:20%;
	} 
    #fctd_logo {
        display:none;
    }
    #fctd_link_desktop{
        display:none;
    }
    .footer_background {
		height:175px;
	}
}
/* MOBILE */
@media (min-width : 623px) and (max-width : 767px) {
    #logo {
        font-size:2em;
        margin-left:15px;
        line-height:90px;
        height:75px;
    }
    nav span {
        display:none;
    }
    #overview_section{
        height: 166px;
    }
    #jumping_kids_desktop{
        display:none;
    }
    #jumping_kids_tablet{
        height: 100%;
        float:left;
        display:inline-block;
    }
    .text_1{
        font-size:.9em;
	}
    .text_2{
        font-size:.7em;
	}
    .text_3{
        font-size:.9em;
	}
    #text_italics_light{
		font-size:.9em;
	}
    .red_background {
        height : 255px;
	}
    .assistive_technology {
        float:left;
        margin-left:7%;
        margin-right:5%;
        margin-top:35px;
        font-size:14px;
        line-height:28px;
        height:170px;
        width:25%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    #word_cloud_tablet {
        width:80%;
    }
    #word_cloud_desktop {
        display:none;
    }
    .self_advocacy {
        float:left;
        display : inline-block;
        margin-right:5%;
        margin-top:35px;
        font-size:.9em;
        line-height:28px;
        height:170px;
        width:25%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    .image_padding {
        padding-top : 20px;
        padding-bottom : 30px
    }
    #raising_hands_tablet{
        width:80%;
    }
    #raising_hands_desktop{
        display:none;
    }
    .fctd_guide {
		float:left;
        display : inline-block;
        margin-top:35px;
        height:170px;
        width:25%;
		font-size:.9em;
        line-height:20px;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
		
	}
    #fctd_logo_tablet {
		display: block;
        margin-top:20px;
        margin-bottom:10px;
        margin-left:auto;
        width:30%;
	} 
    #fctd_logo {
        display:none;
    }
    #fctd_link_desktop{
        display:none;
    }
    .footer_background {
		height:125px;
	} 
}

/* TABLET */
@media (min-width : 768px) and (max-width : 1199px) {
    #logo {
        font-size:2.0em;
        margin-left:15px;
        line-height:90px;
    }
    #jumping_kids_desktop{
        display:none;
    }
    #jumping_kids_tablet{
        width : 250px;
        height: 166px;
        float:left;
        display:inline-block;
    }
    #overview_section{
        height: 166px;
    }
    .text_1{
        font-size:1.4em;
	}
    .text_2{
        font-size:1.2em;
	}
    .text_3{
        font-size:1.4em;
	}
    #text_italics_light{
		font-size:1.4em;
	}
    .red_background {
        height : 255px;
	}
    .assistive_technology {
        float:left;
        margin-left:7%;
        margin-right:5%;
        margin-top:35px;
        font-size:.9em;
        line-height:28px;
        height:170px;
        width:25%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    #word_cloud_tablet {
        width:80%;
    }
    #word_cloud_desktop {
        display:none;
    }
    .self_advocacy {
        float:left;
        display : inline-block;
        margin-right:5%;
        margin-top:35px;
        font-size:.9em;
        line-height:28px;
        height:170px;
        width:25%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    .image_padding {
        padding-top : 20px;
        padding-bottom : 30px
    }
    #raising_hands_tablet{
        width:80%;
    }
    #raising_hands_desktop{
        display:none;
    }
    .fctd_guide {
		float:left;
        display : inline-block;
        margin-top:35px;
        height:170px;
        width:25%;
		font-size:.9em;
        line-height:20px;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
		
	}
    #fctd_logo_tablet {
        margin-top:20px;
        margin-bottom:7px;
        margin-left:auto;
	} 
    #fctd_logo {
        display:none;
    }
    #fctd_link_desktop{
        display:none;
    }
} 
/* DESKTOP */
@media (min-width : 1200px) {
	#logo {
        font-size:2.25em;
        margin-left:24px;
        line-height:100px;
    }
    #nav_indent {
        margin-left:24px;
    }
    /* HOME Page */
    
    #overview_section{
        height : 250px;
    }
    #jumping_kids_desktop{
        width : 377px;
        height: 250px;
        float:left;
        display:inline-block;
    }
    #jumping_kids_tablet {
        display:none;
    }
    #jumping_kids_small{
        display:none;
    }
    .text_1{
        font-size:1.6em;
	}
    .text_2{
        font-size:1.4em;
	}
    .text_3{
        font-size:1.6em;
	}
    #text_italics_light{
		font-size:1.6em;
	}
    .red_background {
        height : 310px;
	} 
    .assistive_technology {
        float:left;
        margin-left:7%;
        margin-right:5%;
        margin-top:35px;
        font-size:1.1em;
        line-height:38px;
        height:230px;
        width:25%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    #word_cloud_tablet {
        display:none;
    }
    #word_cloud_desktop {
        width:80%;
    }
    .self_advocacy {
        float:left;
        display : inline-block;
        margin-right:5%;
        margin-top:35px;
        font-size:1.1em;
        line-height:38px;
        height:230px;
        width:25%;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
	}
    #raising_hands_tablet{
        display:none;
    }
    #raising_hands_desktop{
        width:80%;
    }
    .image_padding {
        padding-top : 20px;
        padding-bottom : 30px
    }
    .fctd_guide {
		float:left;
        display : inline-block;
        margin-top:35px;
        height:230px;
        width:25%;
		font-size:1.1em;
        line-height:25px;
        margin-left:10px;
        webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        moz-box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.5);
		
	}
    #fctd_logo_tablet {
		display: none;
    }
    #fctd_logo {
		display: block;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:auto;
		margin-right: auto;
        width:30%;
	}
    #fctd_link_tablet{
    display:none;
    }
    
    /* Assistive Technology Page */
    
    
}


